<h1 style="font-weight:100"><%= @snippet.title %></h1>


<!-- <script src="https://gist.github.com/tkhan003/942405c61d4f5693911a.js"></script> -->

<div class="row"> 
  <div class="col-sm-8">
    <pre>
      <code class="<%= @snippet.language.name.downcase %>">
      <%= @snippet.body %>
      </code>
    </pre>
  </div>
  <%if !@snippet.notes.empty?%>
    <div class="col-sm-4">
      <div class="stickeynote">
        <span style="font-weight:bold">Note:</span><br>
        <div>
          <%=@snippet.notes%>
        </div>
      </div>
    </div>
  <%end%>
</div>


<hr>

<%= link_to "Back", language_path(@snippet.language) %>


<script>  
  hljs.initHighlightingOnLoad();
</script>